<html>
    <head>
        <title>Update Password</title>
        {% load static %}
        <link href="{% static 'css/templatemo_style.css'%}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% include 'Foodplazaapp/header.html' %}
        <form action="updatepass" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>select</td>
                    <td><select name="type">
                        <option>----select----</option>
                        <option value="user">----user----</option>
                        <option value="admin">----admin----</option>
                    </select></td>
                </tr>
                
                <tr> 
                    <td> Username:</td>
                    <td><input type="text" name="username"></td>
                </tr>
               
                <tr>
                    <td>  Password :</td>
                    <td><input type="text" name=" password" ></td>
                </tr>
                <tr>
                    <td> New Password :</td>
                    <td><input type="text" name="new password" ></td>
                </tr>
                <tr>
                    <td>confirm new Password :</td>
                    <td><input type="text" name="confirm password" ></td>
                </tr>
                
              
            </table>
            <input type="submit" value="save">
            <input type="reset" value="clear">
        </form>
        {% include 'Foodplazaapp/footer.html' %}
    </body>
</html>